body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  background-repeat: no-repeat;
  background-image: url(Images/IMG_40141.png);
  background-size: 100%;
  overflow-x: hidden; /* Voorkom horizontaal scrollen */
}

#scrollButton {
  background-color: #91d4c8;
  color: #fff;
  padding: 5px 19px; 
  border-color: black;
  border-width: 5px;
  cursor: pointer; 
  margin: 150px;
  position: absolute;
  top: 50%;
  left: 32%
}

#scrollButton:hover {
  background-color: #0a5749;
  transform: scale(1.6, 1.5);
}

.container a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container {
  display: inline-block;
  margin: 30px;
  max-width: 300px;
  padding: 21px;
  background-color: #91d4c8;
  border: 4px solid #000;
  border-radius: 10px;
}

.container h2 {
  margin: 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container img {
  max-width: 100%;
  border-radius: 30px;
}

.container:hover {
  background-color: #5066d2;
}

.spanje2 {
  display: inline-block;
  margin: 33px;
  max-width: 500px;
  padding: 21px;
  background-color: #ba3737;
  border: 4px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.spanje2 img {
  max-width: 100%;
  border-radius: 30px;
}

.spanje2:hover {
  background-color: #dbd33f;
}

.spanje2 .hidden-paragraph {
  display: none;
}

.spanje2:hover .hidden-paragraph {
  display: block;
  font-size: 15px;  
  color: #000000; 
}


.griekenland2 {
  display: inline-block;
  margin: 30px;
  max-width: 500px;
  padding: 21px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.griekenland2 img {
  max-width: 100%;
  border-radius: 30px;
}

.griekenland2:hover {
  background-color: #3f76b4;
}

.griekenland2:hover .hidden-paragraph {
  color: #000000;
}

.griekenland2 p,
.griekenland2 .hidden-paragraph {
  font-size: 15px; /* Stel de gewenste tekstgrootte in */
  color: #000000;
}

.portugal2 {
  display: inline-block; 
  margin: 30px;
  max-width: 500px;
  padding: 21px;
  background-color: rgb(203, 49, 49);
  border: 4px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.portugal2 h2 {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portugal2 img {
  max-width: 100%;
  border-radius: 30px;
}

.portugal2:hover {
  background-color: #056d29;
}


.portugal2 .hidden-paragraph {
  display: none;
}

.portugal2:hover .hidden-paragraph {
  display: block;
  font-size: 15px; 
  color: #000000;
}

h2, p {
  margin: 10px 0;
}

.informatie {
  background-image: url(Images/informatieachtergrond.png);
}

.spanje {
  background-image: url(Images/alicanteachtergrond1.png);
}

.griekenland {
  background-image: url(Images/backgroundgreece.png);
}

.portugal {
  background-image: url(Images/backgroundportugal.png);
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
  text-align: center;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 80px;
  margin-top: 15%;
  border: 5px solid #000000;
  color: black;
}

h2 {
  text-align: center;
  margin-top: 14%;
  font-size: 35px;
}

p {
  text-align: center;
  font-size: 18px;
}

header {
  margin: 3px;
  padding: 1px;
}

nav > ul {
  text-align: end;
}

nav > ul > li {
  display: inline-block;
  padding: 1%;
  margin: 1%;
  transition: background-color 300ms ease-in-out;
}

nav > ul > li:hover {
  background-color: rgb(159, 159, 159);
}

nav > ul > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 23px;
  font-weight: bold;
}

.logo {
  max-width: 25%;
  height: auto;
  position: absolute;
}

footer {
background-color: #333;
  color: rgb(255, 255, 255); 
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 10px;
}

.home-footer {
  position: absolute;
  bottom: 0%;
  color: white;
  width: 100%;
  background-color: #333
}

.footer-icons a {
  margin: 10px; 
}

.footer-icons img {
  width: 30px; 
  height: 30px;
}

.spanje2,
.griekenland2,
.portugal2 {
  /* Andere stijlen voor .spanje2, .griekenland2 en .portugal2 blijven ongewijzigd */
  height: 300px; /* Stel de hoogte van de containers in op het gewenste formaat */
  overflow: hidden; /* Verberg eventuele overloopinhoud */
}

.spanje2:hover img,
.griekenland2:hover img,
.portugal2:hover img {
  display: none; /* Verberg de afbeelding */
}

.spanje2 h2,
.griekenland2 h2,
.portugal2 h2 {
  font-size: 30px;
  margin: -5px auto -10px; /* Hiermee verplaats je de h2-tekst omhoog */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative; /* Hiermee activeer je de positionele eigenschappen */
  top: -12px; /* Hiermee kun je de verticale positie van de h2-tekst aanpassen */
}
